body{
  margin: 0;
  padding: 0;
  background-color: hsl(180, 52%, 96%);
}

/* Designing for the header of the web page */
.header{
  width: 100%;
  background-color: hsl(180, 29%, 50%);
  margin-bottom: 3%;
}

/* Designing for each job list container */
.list{
  background-color: #fff;
  width: 80%;
  margin: auto;
  display: flex;
  margin-bottom: 1%;
  padding: 1%;
  box-shadow: 0 10px 6px -6px #777;
}

/* To apply color on left of 1st ans 2nd list */
.list1{
  border-left: hsl(180, 29%, 50%);
  border-left-width: 7%;
  border-left-style: solid;
  border-top-left-radius: 0.5%;
  border-bottom-left-radius: 0.5%;
}

/* Styling the space around the list image */
.image{
  margin-top: 1.5%;
  margin-right: 2%;
  margin-left: 2%;
}


.text-info{
  flex: 3;
}

/* Styling the 1st line of text info */
.word1{
  color:hsla(180, 31%, 55%, 1);
  font-weight: 550;
  margin-right: 1%;
}

.new{
  text-transform: uppercase;
  color: #fff;
  background-color: hsla(180, 31%, 55%, 1);
  border-radius: 10px;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 10px;
  font-weight: 600;
  font-family: 'Spartan', sans-serif;
  padding: 1%;
  padding-top: 1.5%;
}

.featured{
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  margin-left: 1%;
  font-size: 10px;
  font-weight: 600;
  font-family: 'Spartan', sans-serif;
  padding: 1%;
  padding-top: 1.5%;
}

/* Styling the 2nd line of text info */
.word2{
  color: #000;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}

/* Styling the 3rd line of text info */
.word3{
  color: hsl(180, 8%, 52%);
  margin-top: 2%;
}

/*This puts in the dots */
.date:after,
.time:after{
  margin: .5em;
  content: "\00B7";
}

hr{
  display: none;
}

/*styles for the unordered list*/
.list ul{
  display: flex;
  list-style-type:none;
  flex: 3;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

li{
  background-color: hsl(180, 31%, 95%);
  color:hsla(180, 31%, 55%, 1);
  padding: 1.5%;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  margin-left: 1.5%;
  margin-right: 1.5%;
  border-radius: 5px;
}

/* Hover States */
.word2:hover{
  color:hsla(180, 31%, 55%, 1);
  cursor: pointer;
}

/* Active State */
li:hover{
  background-color: hsla(180, 31%, 55%, 1);
  color: #fff;
  cursor: pointer;
}

/* Role Selected Div */
.role-selected{
  background-color: #fff;
  width: 82%;
  margin: auto;
  box-shadow: 0 10px 6px -6px #777;
  height: 437.5%;
  position: relative;
  bottom: 80px;
  border-radius: 2px;
  z-index: 2;
}

.upper-div li{
  background-color: hsl(180, 31%, 95%);
  color:hsla(180, 31%, 55%, 1);
  padding: .5%;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  margin: 1.5%;
  border-radius: 5px;
  padding-top: 5px;
}

.upper-div ul{
  display: flex;
  list-style-type:none;
  flex: 3;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.X{
  padding: 5px;
  background-color: hsla(180, 31%, 55%, 1);
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left:3px;
}

.X:hover{
  background-color: #000;
  cursor: pointer;
}

.upper-div span{
  margin-left: 5px;;
}


/* Adding Breakpoint for the responsiveness */

@media only screen and (max-width: 600px){

  .image{
    margin: 0;
    position: relative;
    bottom: 50px;
    margin: 0;
  }

  .word1, .new, .featured {
    margin-top: 0%;
  }

  hr{
    display: inherit;
    width: 100%;
    height: 1px;
    border-top-style: solid;
    border-top-color: hsl(180, 8%, 52%);
    border-left-style: unset;
    border-right-style: unset;
    border-bottom-style: unset ;
  }

  /* Designing the list  */
  .list{
    padding: 3%;
    margin-bottom:20%;
  }

  /* Aligning the elements in list in column wise */
  .list{
    display: flex;
    flex-direction: column;
  }

  /* Alignment of role in each list  */
  .list ul{
    display: flex;
    justify-content: flex-start;
    /* justify-content: space-between; */
    padding: 0;
  }

  li{
    margin-left: 0%;
    margin-right: 2.5%;
    margin-bottom: 1.5%;
  }

  /* Role Selected Div */
  .role-selected{
    padding: .5%;;
    position: relative;
    bottom: 60px;
  }
  
  /* Giving more greenish width on the left of first 2 lists */
  .list1{
    border-left-width: 30%;
  }
}
